@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

*{
  font-size: large;
  font-family: "Jua", sans-serif;
}

.register-user-form-container{
  margin: 0 auto;
  width: 50%;
}

.title{
  margin: 10% !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  text-align: center;
  color:#434373 !important;
}

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.userMenu{
  margin: 2% 2% 2% 2%;
}

.userIcon{
  align-items: flex-start;
  font-size: 40px;
}

.menuIcon{
  height: 60px;
}

#submitButton{
  background-color:#434373;
  color: white;
  font-family: "Poor+Story", sans-serif;
  margin:  0 77%;
}

#submitButton:hover {
  background-color:rgb(106, 107, 109);
}

.label{
  font-size: x-large;
  font-weight: lighter;
}

