.orderlistpageContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.orderlistpageInfo {
  display: flex;
  width: 80%;
  margin: 30px;
  flex-direction: column; 
}

.orderListTitle {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.listTitle {
  display: flex;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.listTitle span, .orderItem span {
  padding: 12px;
  text-align: center;
}

.listTitle span:nth-child(1), .listTitle span:nth-child(2), .orderItem span:nth-child(1), .orderItem span:nth-child(2)  {
  width: 20%;
}

.listTitle span:nth-child(3), .orderItem span:nth-child(3) {
  width: 25%;
}

.listTitle span:nth-child(4), .orderItem span:nth-child(4) {
  width: 15%;
}

.listTitle span:nth-child(5), .orderItem span:nth-child(5) {
  width: 20%;
}

.orderItem {
  display: flex;
}

.orderItem button {
  width: 5%;
  height: 10%;
  margin: 1% auto;
  border-radius: 5px;
  background-color: white;
}

.id{
  display: none;
}