@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.div-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 550px;
  background-color: antiquewhite;
  margin: 3% auto;
}

.change-user-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 50px;
  height: 85vh;
}

.change-user-form-container label {
  font-size: x-large;
  font-weight: lighter;
}

.change-user-form-box {
  width: 30rem;
}

.userTitle {
  margin: 2% 40% 4% 45%;
}

.change-user-form-box .button {
  font-weight: bold;
}

.change-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
