@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.menuNav {
  background-color: #b8dff8;
}

.menuNav a {
  line-height: 52px;
  width: 100px;
  color: black;
}

.menuNav a:hover {
  background-color: #e1f3fe;
}

.container {
  justify-content: center;
  text-align: center;
}

.itemBox {
  width: 600px;
}

.descriptionBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  height: 500px;
}

.descriptionBox .description {
  flex-grow: 4;
}

.descriptionBox .description .productTitle {
  font-size: 40px;
}

.descriptionBox .priceBox {
  flex-grow: 1;
}

.descriptionBox #productCount {
  width: 50px;
}

.descriptionBox .btnBox {
  text-align: center;
  flex-grow: 1;
}

.containerDiv {
  width: 1024px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.btnBox {
  margin: 0 auto;
  margin-top: 20px;
}

.btn {
  border-radius: 10px;
  border: transparent;
  width: 170px;
  height: 50px;
}

.btn:hover {
  cursor: pointer;
}

.btn.orderBtn {
  background-color: #2781d9;
  color: white;
}

.btn.orderBtn:hover {
  background-color: #2373c3;
}

.btn.putCartBtn {
  background-color: #434373;
  color: white;
}

.btn.putCartBtn:hover {
  background-color: #37375e;
}
