@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
  color: #434373 !important;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.menuNav {
  background-color: #b8e0f837;
}

.menuNav a {
  line-height: 52px;
  width: 100px;
  color: black !important;
}

.menuNav a:hover {
  background-color: #e1f3fe;
}

.container {
  justify-content: center;
  text-align: center;
}

.imgDiv {
  width: 700px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}

.imgDiv .productImage {
  width: 800px;
  height: 100%;
}

.descriptionBox {
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
}

.descriptionBox p,
.descriptionBox span {
  color: black !important;
}

.descriptionBox .description {
  flex-grow: 4;
}

.descriptionBox .description .productTitle {
  font-size: 40px;
}

.descriptionBox .priceBox {
  flex-grow: 1;
}

.descriptionBox #productCount {
  width: 50px;
}

.descriptionBox .btnBox {
  text-align: center;
  flex-grow: 1;
}

.containerDiv {
  width: 1300px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.btnBox {
  margin: 0 auto;
  margin-top: 20px;
}

.btn {
  border-radius: 10px;
  border: transparent;
  width: 170px;
  height: 50px;
}

.btn:hover {
  cursor: pointer;
}

.btn.orderBtn {
  background-color: #2781d9 !important;
  color: white !important;
}

.btn.orderBtn:hover {
  background-color: #2373c3 !important;
}

.btn.putCartBtn {
  background-color: #434373 !important;
  color: white !important;
}

.btn.putCartBtn:hover {
  background-color: #37375e !important;
}
