@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");
* {
  color: #434373 !important;
  font-family: "Jua", sans-serif;
  font-size: large;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.itemDiv {
  text-align: center;
  width: 400px;
}

.userTitle {
  text-align: center;
  margin: 2% auto;
}

.mainContainer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userMenu {
  margin: 2% 2% 2% 2%;
}

.userIcon {
  align-items: flex-start;
  font-size: 40px;
}

.menuIcon {
  height: 60px;
}

.mainContainer b {
  font-family: "Poor+Story", sans-serif;
  font-size: 25px !important;
}

.mainContainer p {
  font-family: "Poor+Story", sans-serif;
  font-size: 20px !important;
}

.mainContainer span {
  font-family: "Poor+Story", sans-serif;
  font-size: 40px !important;
}
