.orderlistpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.orderlistpageInfo {
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.orderListTitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.listTitle {
  border-bottom: 1px solid black;
  display: flex;
  font-weight: bold;
}
.listTitle span {
  padding: 12px;
  text-align: center;
}
.listTitle span:nth-child(1) {
  width: 20%;
}
.listTitle span:nth-child(2) {
  width: 20%;
}
.listTitle span:nth-child(3) {
  width: 30%;
}
.listTitle span:nth-child(4) {
  width: 15%;
}
.listTitle span:nth-child(5) {
  width: 15%;
}

.orderList {
  display: flex;
}
.orderList span {
  padding: 12px;
  text-align: center;
}
.orderList span:nth-child(1) {
  width: 20%;
}
.orderList span:nth-child(2) {
  width: 20%;
}
.orderList span:nth-child(3) {
  width: 30%;
}
.orderList span:nth-child(4) {
  width: 15%;
}
.orderList button {
  width: 3%;
  height: 10%;
  margin: 1% auto;
  border-radius: 5px;
  background-color: white;
}