@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.menuNav {
  background-color: #b8dff8;
}

.menuNav a {
  line-height: 52px;
  width: 100px;
  color: black;
}

.menuNav a:hover {
  background-color: #e1f3fe;
}

.itemBox {
  margin: 0 auto;
  border: 1px solid black;
  width: 400px;
  height: 300px;
}

.itemBox img {
  width: 100%;
  height: 100%;
}

.container {
  justify-content: center;
  text-align: center;
}

.containerDiv {
  max-width: 1300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contentDiv {
  color: black;
  text-align: center;
}

.contentDiv p:nth-child(2) {
  font-size: 25px;
}

#noProduct {
  text-align: center;
  grid-column: 1 / 4;
  height: 300px;
  line-height: 300px;
}

#noProduct h1 {
  font-size: x-large;
}
