<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>마이키트</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js --> 
    <link rel="stylesheet" href="product.css" />
    <script src="product.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/title.png" width="30" height="30" />
            <span class="has-text-link brandLogo">마이키트</span>
          </a>
        </div>
        <div class="navbar-menu navMenuContainer">
          <a class="navbar-item" href="#공지">공지사항</a>
          <a class="navbar-item" href="/new">신상품</a>
          <a class="navbar-item" href="/product?category=krFood">제품</a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar menuNav" role="navigation" aria-label="main navigation">
      <div class="container">
        <a class="foodItem" href ="/product?category=krFood">
          한식 
        </a>
        <a class="foodItem" href ="/product?category=jpFood">
          일식
        </a>
        <a class="foodItem" href ="/product?category=chFood">
          중식
        </a>
        <a class="foodItem" href ="/product?category=wsFood">
          양식
        </a>
      </div>  
    </nav>
    <div class="containerDiv"></div>
  </body>
</html>