.userTitle {
  margin: 2% 40% 4% 45%;
}
.mainContainer {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.mainContainer > div {
  display: flex;
  padding: 10px;
}

.userMenu {
  margin: 2% 2% 2% 2%;
}

.userIcon {
  align-items: flex-start;
  font-size: 40px;
}
.menuIcon {
  height: 60px;
}

#addCategory {
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d5e5f5;
  position: fixed;
  right: 10%;
  bottom: 100px;
}

#addCategory:hover {
  background-color: #8ea5bd;
}

.fas {
  color: white;
}
