@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");
* {
  font-size: large;
  font-family: "Jua", sans-serif;
  color: #434373 !important;
}
.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}
.order-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.order-user-form-box {
  width: 30rem;
}

.order-product-form-box .label {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.order-user-form-box .title {
  text-align: center;
}

.order-user-form-box .button {
  font-weight: bold;
}

.order-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.order-product-form-box {
  width: 30rem;
}
.order-product-form-box .title {
  text-align: center;
}

.order-product-form-box .button {
  font-weight: bold;
}

.order-product-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

form {
  margin: 0% 2% 2% 2%;
}

.userTitle {
  margin: 2% 40% 4% 45%;
}

#totalProductPrice {
  float: right;
}
/* table */
.productName {
  clear: both;
  width: 25% !important;
}
.productPrice {
  width: 30% !important;
}
.productNumber {
  width: 15%;
}
.productTotal,.productTotalLabel {
  width: 60% !important;
  text-align: right;
}
.productTitle {
  background-color: #dee8e6;
  font-weight: bold;
}

#productList tr {
  border: 10px solid transparent;
}

#submitButton {
  margin-top: 15%;
  background-color: #434373;
  color: white !important;
}
/* table */
table {
  table-layout: fixed;
  width: 100%;
}

.order-product-form-box label.totalPayment {
  text-align: right;
}

#totalUserPrice {
  font-size: 30px;
}

.priceColumn {
  float: right;
}