@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");
* {
  font-size: large;
  font-family: "Jua", sans-serif;
  color: #434373 !important;
}
.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}
.reviewPageContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.reviewPageInfo {
  display: flex;
  width: 80%;
  margin: 30px;
  flex-direction: column;
}

.reviewTitle {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.listTitle {
  display: flex;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.listTitle span,
.orderItem span {
  padding: 10px;
  text-align: center;
  font-family: "Poor+Story", sans-serif !important;
  color: black !important;
}

.listTitle span:nth-child(1),
.listTitle span:nth-child(2),
.orderItem span:nth-child(1),
.orderItem span:nth-child(2) {
  width: 20%;
}

.listTitle span:nth-child(3),
.orderItem span:nth-child(3) {
  width: 40%;
}

.listTitle span:nth-child(4),
.orderItem span:nth-child(4) {
  width: 20%;
}

.orderItem {
  display: flex;
}

.id {
  display: none;
}

.orderItem button {
  width: 60px;
  height: 30px;
  margin: 1% auto;
  border-radius: 5px;
  border: transparent;
  background-color: #434373;
  color: white !important;
}
button:hover {
  background-color: rgb(106, 107, 109);
}

span.starSpan {
  padding: 0;
}
