@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");
* {
  font-size: large;
  font-family: "Jua", sans-serif;
}
.div-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 550px;
  background-color: antiquewhite;
  margin: 3% auto;
}
.landing {
  margin-top: 7px;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

/* 이미지 슬라이더 */
#slideContainer {
  width: 800px;
  overflow: hidden;
}
#slideContainer .slides {
  width: 3500px;
}

#slideContainer .slides img {
  width: 800px;
}

#slideContainer .slides li {
  float: left;
  list-style-type: none;
}

/* 슬라이드 버튼 */
#slideContainer .slide-dots {
  clear: both;
}
