@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.div-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 550px;
  background-color: #b8dff8;
  margin: 3% auto;
}

.landing {
  margin-top: 7px;
}

/* 이미지 슬라이더 */
#slideContainer {
  width: 800px;
  overflow: hidden;
}
#slideContainer .slides {
  width: 3500px;
}

#slideContainer .slides img {
  width: 800px;
  height: 550px;
}

#slideContainer .slides li {
  float: left;
  list-style-type: none;
}

.newItemImg{
  margin: 0 15%;
}

.newItem{
  text-align: center;
  margin-top: 5%;
}

.img{
  box-shadow: 5px 5px 5px gray;
}
#img1{
  position: static;
  width: 60%;
  
  
}
#img2{
  position: relative;
  width: 60%;
  top: -50px;
  left: 390px;
}
#img3{
  position: relative;
  width: 60%;
  top:-100px;
}
#img1:hover, #img2:hover, #img3:hover{
  transform:scale(1.01);
}

.img
{
    opacity:0;
}
/* .index{
  display: flex;
  margin-top: 5%;
} */
 
