@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap");

* {
  font-size: large;
  font-family: "Jua", sans-serif;
  color: #434373 !important;
}

.brandLogo {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.login-form-container p.title {
  color: #485fc7 !important;
  font-size: xx-large !important;
}

label.label {
  color: black !important;
  font-size: large;
  font-weight: 400;
}

#submitButton {
  color: white !important;
}
