<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js --> 
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link brandLogo">마이키트</span>
          </a>
        </div>
        <div class="navbar-menu navMenuContainer">
          <a class="navbar-item" href="#공지">공지사항</a>
          <a class="navbar-item" href="/new">신상품</a>
          <a class="navbar-item" href="/product?category=krFood">제품</a>
        </div>
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <body>
      <div id="wrap">
        <!-- 헤더 -->
        <nav></nav>
        <!-- 주문정보 -->
        <section class="cart">
          <div class="cartContainer">
            <div class="cartContainerInfo">
              <div class="items">
                <div class="select">
                  <label class="allDelete" id="allDelete">
                    <p>전체 삭제</p>
                  </label>
                  <label class="selectionDelete" id="selectDelete">
                    <p>선택 삭제</p>
                  </label>
                </div>
                <div id="cartShow">

                <!-- 선택한 상품 javascript에서 랜더링 -->

                </div>
              </div>

              <!-- 선택한 상품 총 요약 -->
              <div class="orderSummary">
                <p>결제 정보</p>
                <div class="orderInfo">
                  <div class="productsCount">
                    <p>상품수</p>
                    <p id="productsCountValue">
                      <!-- 총 상품수 -->
                      개
                    </p>
          
                  </div>
                  <div class="productCost">
                    <p>상품금액</p>
                    <span id="productCostValue">
                      <!-- 총 상품 금액 -->
                      원
                    </span>
          
                  </div>
                  <div class="deliveryFee">
                    <p>배송비</p>
                    <p id="deliveryFeeValue">
                      3,000원
                  </p>
                  </div>
                </div>
                <div class="data total">
                  <p>총 결제 금액</p>
                  <p id="totalCostValue">원</p>
                </div>
                <button class="button is-info is-fullwidth" id="purchaseButton">결제하기</button>
              </div>
            </div>
          </div>
        </section>
        <footer></footer>
      </div>
    </body>
  </html>
  